# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so
*.pyd
*.pyo

# Environment files
.env
.venv
venv/
ENV/

# PyInstaller
*.spec

# Jupyter Notebook
*.ipynb_checkpoints

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Model weights and checkpoints
*.pth

# Logs
*.log

# Misc
*.swp
*.bak
